anndata>0.11.2
cellxgene_ontology_guide @ https://github.com/czbiohub-sf/grassp-ontology-guide/releases/download/v1.9.0/cellxgene_ontology_guide-1.9.0-py3-none-any.whl
dask[array, distributed, dataframe]==2024.12.0
h5py
matplotlib<4
numpy<3
pandas>2,<3
PyYAML<7
requests
scipy<1.15
semver<4
xxhash<4
